<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8" />
</head>
<body>

<section class="layout-content" layout:fragment="corpo">
	<main role="main">

		<section class="jumbotron text-center">
			<div class="container">
				<div th:replace="~{fragments/alert}"></div>
				<h1 class="jumbotron-heading">Sorteio</h1>
				<p class="lead text-muted">Cadastre-se para participar do sorteio, apenas Administradores podem fazer login.</p>
			</div>
		</section>
	</main>
</section>
</body>
</html>